[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
tox = "*"
mypy = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
setuptools = "*"
build = "*"

[requires]
python_version = "3.12"
